body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: F4F8FB;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 4rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;   /* Pushes items to far left and right */
  color: #222B45;
  background-color: #FFB962;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding: 1em 2em;                /* Add horizontal padding for spacing */
  box-sizing: border-box;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
  color: #FFB962;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #222B45;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}

#lth_parent_company_logo {
  max-height: 48px;
  width: auto;
  margin: 0;
  float: none;
  vertical-align: middle;
  display: block;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}

.main > h2 {
  text-align: center;
  text-decoration-line: underline;
}