body {
    background-color: #FFE3BB;
}

#header1 {
    background-color: #03A6A1;
    border: 5px solid white;
    padding: 0px 0px 10px;
}

h1 {
    text-align: center;
    font-family: Ubuntu;
    font-weight: 700;
}

#header-p {
    text-align: center;
}

#projectlinks a {
    color: #FF4F0f;
    font-family: Ubuntu;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
